<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="lista" *ngIf="leido">
    <p class="cancelled"><span>Cancelled: </span>{{scannedData.cancelled}}</p>
    <p class="format"><span>Format: </span>{{scannedData.format}}</p>
    <p class="text"><span>Text: </span>{{scannedData.text}}</p>
  </div>
  <div class="lista">
    <p class="escribeQR">Escribe lo que quieras meter en el código QR y pulsa generar</p>
    <input type="text" [(ngModel)]="inputData" class="input"/>
  </div>
  <div class="absolute bottom container horizontal">
    <div class="elemento vertical">
      <button (click)="scanBarcode()" class="btn">Leer código qr
        <ion-icon class="icon" name="qr-code-outline"></ion-icon>
      </button>
    </div>
    <div class="elemento">
      <button (click)="createBarcode()" class="btn ">Generar código qr
        <ion-icon class="icon" name="push-outline"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>