<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="personaje">
    <div class="parte">
      <button class="arrow-left"><ion-icon (click)="pasarElemento('top', false)" class="arrow" name="caret-back-outline"></ion-icon></button>
        <app-top [seleccion]="stop"></app-top>
      <button class="arrow-right"><ion-icon (click)="pasarElemento('top', true)" class="arrow" name="caret-forward-outline"></ion-icon></button>
    </div>
    <div class="parte mid">
      <button class="arrow-left"><ion-icon (click)="pasarElemento('mid', false)" class="arrow" name="caret-back-outline"></ion-icon></button>
        <app-mid [seleccion]="smid"></app-mid>
      <button class="arrow-right"><ion-icon (click)="pasarElemento('mid', true)" class="arrow" name="caret-forward-outline"></ion-icon></button>
    </div>
    <div class="parte bot">
      <button class="arrow-left"><ion-icon (click)="pasarElemento('bot', false)" class="arrow" name="caret-back-outline"></ion-icon></button>
        <app-bot style="z-index: -1000;" [seleccion]="sbot"></app-bot>
      <button class="arrow-right"><ion-icon (click)="pasarElemento('bot', true)" class="arrow" name="caret-forward-outline"></ion-icon></button>
    </div>
  </div>

</ion-content>