<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="personaje">
    <div class="parte">
      <button class="arrow-left"><ion-icon class="arrow" name="caret-back-outline"></ion-icon></button>
        <app-top [seleccion]="stop"></app-top>
      <button class="arrow-right"><ion-icon class="arrow" name="caret-forward-outline"></ion-icon></button>
    </div>
  </div>

</ion-content>