.personaje{
    .parte{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        button{
            width: 10px;
            padding-left: 10px;
            padding-right: 20px;
            border-radius: 0;
            .arrow{
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}