.personaje{
    margin-top: 10px;
    .parte{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        button{
            height: 50%;
            transform: translateY(50%);
            width: 10px;
            padding-left: 10px;
            padding-right: 20px;
            border-radius: 0;
            .arrow{
                margin: 0 auto;
                text-align: center;
            }
        }
        &.mid{
            margin-top: -15px;
        }
        &.bot{
            margin-top: -15px;
            z-index: -1000 !important
        }
    }
}