.absolute{
    position: absolute;
    width: 100vh;
}
.absolute{
    position: fixed;
    width: 100vh;
}
.bottom{
    bottom: 0;
}

@import "./containers";
@import "./buttons";
@import "./icons";
@import "./list";
@import "./input";
@import "./parts";